.notice {
    position: fixed;
    left: 0;
    top: -52px;
    z-index: 7000;
    opacity: 0.95;
}

.alert {
    background: #fff;
}

.alert:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.alert.alert-success:before {
    background: #b2dba1;
}

.alert.alert-info:before {
    background: #9acfea;
}

.alert.alert-warning:before {
    background: #f5e79e;
}

.alert.alert-danger:before {
    background: #dca7a7;
}

.alert-text {
    padding-left: 40px;
}