#contextMenu {
    position: absolute;
    list-style: none;
    font-size: 14px;
    z-index: 10;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#contextMenu .list-menu {
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    background-color: white;
    border-radius: 4px;
    list-style: none;
    padding: 5px;
}

#contextMenu .menu-items {
    color: #337ab7;
}

#contextMenu li{
    cursor: pointer;
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
}

#contextMenu .divider {
    border-bottom: 1px solid #e7e7e7;
    margin: 4px 5px;
}

#contextMenu a:hover {
    text-decoration: none;
}

#contextMenu li:hover {
    background-color: #ededed;
}

#contextMenu span {
    border-right: 1px solid #e7e7e7;
    padding-right: 8px;
    margin-right: 4px;
}
