.list-menu {
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
    list-style: none;
    padding: 5px;
}

.dropdown-menu {
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
    list-style: none;
    padding: 5px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
  color: #000;
  background-color: #E8E8E8;
    cursor: default;
}